
/* Les boutons du site */

/* Variable de Sassy-Buttons, surchargée pour respecter la grille typo choisie */
$sb-padding:($typo-line-height/3/2 - $typo-line-height/3/8)*1em 0.5em;

/* Classe générique pour afficher un bouton */
.button{
	@include sassy-button('matte', 3px, 1em, #888, false, #fff);
	line-height:1;
	
	&:visited {
		color:#fff;
	}
}

/* Les vrais boutons utilisent la classe générique */
button, input.submit, input[type=submit]{
	@extend .button;
}
