/**
 * Listes
**/

// Mixin pour une liste sans style
@mixin list-none() {
	list-style:none;
	margin-left:0;
	
	li:before{
		content:'';
	}
}

// Les choses communes à toutes les listes
.liste{
	margin-bottom:$typo-margin-vertical;
	
	.liste-items{
		@extend .list-none;
	}
	.item{
		margin-bottom:$typo-margin-vertical;
	}
	article{
		@extend .link-block-wrapper;
	}
	.spip_logos{
		max-width:100%;
		margin-right: 0.5em;
	}
	.titre{
		@extend .h3;
		display:block;
	}
	a.tout{
		@extend .button;
		clear:both;
	}
	// Listes d'articles
	&.articles {
		.item {
			margin-bottom: $typo-margin-vertical*3;
		}
		.entry-title {
			margin-top: $typo-margin-vertical / 2;
			margin-bottom: $typo-margin-vertical / 2;
		}
		.publication {
			margin-bottom: $typo-margin-vertical / 2;
		}
	}
}


/**
 * ====================
 * Variantes génériques
 * ====================
**/

// Juste une vignette et un titre par dessus
.liste.hero {
	
}

// Vignette sur le côté à gauche
.liste.media-left {
	.spip_logos{
		float:left;
	}
}

// Vignette sur le côté à gauche
.liste.media-top {
	.spip_logos{
		display: block;
	}
}


/**
 * =====================
 * Variantes spécifiques
 * =====================
**/

// Rubriques
.liste.rubriques{
	
}

// Documents
.liste.documents{
	.spip_logos{
		float:left;
	}
}

// Événements
.liste.evenements{
	.spip_logos{
		display:block;
		margin-bottom:$typo-margin-vertical/2;
	}
	.titre{
		margin-bottom:($typo-margin-vertical/1.25)/2;
	}
	p{
		margin:0;
	}
	.postmeta{
		font-size:0.9em;
		line-height:$typo-line-height/0.9;
	}
	.publication{
		@extend .icon;
		@extend .icon-clock;
	}
	.lieu{
		@extend .icon;
		@extend .icon-location;
	}
	.rubrique{
		color:lighten($couleur-texte,50%);
		text-transform:uppercase;
	}
}