
/* Menu principal */
.firstnav{
	clear:both;
	
	.menu-items{	
		@extend .list-none;
		margin:0;
	}
	a{
		background:url('../images/icon-minicube-noir.png') left center no-repeat;
		color:black;
		display:block;
		padding-left:1.25em;
		text-transform:uppercase;
		
		&:hover{
			color:$couleur-lien;
			background-image:url('../images/icon-minicube-rouge.png');
		}
		&:focus{
			background:black url('../images/icon-minicube-vert.png') left center no-repeat !important;
		}
	}
	
	@include media($bp-medium-plus-up){
		.container{
			border:1px solid #ccc;
		}
		.menu-items{
			line-height:0;
			text-align:justify;
			
			&:after{
				content:'';
				display:inline-block;
				vertical-align:top;
				width:99%;
			}
		}
		.item{
			display:inline-block;
			line-height:$typo-line-height;
			margin:0;
			padding:0;
			vertical-align:top;
			
			&:first-child{
				text-align:left;
			}
			&:last-child{
				text-align:right;
			}
		}
	}
}
