
/* Palette de couleur */
$couleur-rouge:#C00000;
$couleur-sombre:#1D1D1B;
$couleur-bleu:#146BCD;
$couleur-orange:#FE6710;
$couleur-vert:#749514;

/* Palette fonctionnelle */
$couleur-texte:black;
$couleur-lien: $couleur-rouge;

/* Variables de typographie */
$typo-line-height: 1.5;
$typo-margin-vertical: ($typo-line-height)*1em;
