
/* Palette de couleur */
$couleur-rouge:#C00000;
$couleur-sombre:#1D1D1B;
$couleur-bleu:#1c92a0;

/* Palette fonctionnelle */
$couleur-texte:black;
$couleur-lien: $couleur-rouge;

/* Variables de typographie */
$typo-line-height: 1.5;
$typo-margin-vertical: ($typo-line-height)*1em;
$bs: $typo-margin-vertical; // synonyme plus court
// familles génériques
$typo-font-text: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif, sans;
$typo-font-heading: "Arial Black", "Arial Bold", "Gadget", sans-serif, sans;
$typo-font-heavy: $typo-font-heading;